<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Административная панель</title>
    <link rel="stylesheet" type="text/css" href="/static/css/users.css">
</head>
<body>
<div class="main-container">
    <div class="header">
        <div class="nav">
            <a href="#" th:href="@{/main}">Главная</a>
            <a href="#">Реестры</a>
            <a href="#">Отчеты</a>
            <a href="#" th:href="@{/admin/users}" th:if="${user.role.name == 'admin'}">Пользователи</a>
        </div>
        <a href="#" th:href="@{/logout}" class="logout">Выйти</a>
    </div>
    <div class="content-wrapper">
        <div class="content">
            <h2>Список пользователей</h2>
            <div class="table-wrapper">
                <table id="usersTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Логин</th>
                        <th>Пароль</th>
                        <th>Роль</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${allUsers}" th:data-user-id="${user.id}">
                        <td th:text="${user.id}">1</td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.password}"></td>
                        <td th:text="${user.role.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                <button class="add" onclick="addUser()">Добавить</button>
                <button class="edit" id="editBtn" onclick="editUser()" disabled>Редактировать</button>
                <button class="delete" id="deleteBtn" onclick="deleteUser()" disabled>Удалить</button>
            </div>
        </div>
        <div class="content">
            <h2>Список ролей</h2>
            <div class="table-wrapper">
                <table id="rolesTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="role : ${allRoles}" th:data-role-id="${role.id}">
                        <td th:text="${role.id}"></td>
                        <td th:text="${role.name}"></td>
                        <td th:text="${role.description}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                <button class="add" onclick="addRole()">Добавить</button>
                <button class="edit" id="editRoleBtn" onclick="editRole()" disabled>Редактировать</button>
                <button class="delete" id="deleteRoleBtn" onclick="deleteRole()" disabled>Удалить</button>
            </div>
        </div>
    </div>
    <!-- Модальные окна -->
    <!-- Модальное окно для добавления роли -->
    <div id="addRoleModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addRoleModal')">&times;</span>
            <form id="addRoleForm" th:action="@{/admin/addRole}" method="post">
                <h2>Добавить роль</h2>
                <label for="roleName">Название:</label>
                <input type="text" id="roleName" name="name" required maxlength="255"><br><br>
                <label for="roleDescription">Описание:</label>
                <input type="text" id="roleDescription" name="description" required maxlength="255"><br><br>
                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно для редактирования роли -->
    <div id="editRoleModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('editRoleModal')">&times;</span>
            <form id="editRoleForm" th:action="@{/admin/editRole}" method="post">
                <h2>Редактировать роль</h2>
                <input type="hidden" id="editRoleId" name="id">
                <label for="editRoleName">Название:</label>
                <input type="text" id="editRoleName" name="name" required maxlength="255"><br><br>
                <label for="editRoleDescription">Описание:</label>
                <input type="text" id="editRoleDescription" name="description" required maxlength="255"><br><br>
                <button type="submit">Сохранить</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно для добавления пользователя -->
    <div id="addUserModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addUserModal')">&times;</span>
            <form id="addUserForm" th:action="@{/admin/addUser}" method="post">
                <h2>Добавить пользователя</h2>
                <label for="userName">Логин:</label>
                <input type="text" id="userName" name="username" required maxlength="255"><br><br>
                <label for="userPassword">Пароль:</label>
                <input type="password" id="userPassword" name="password" required maxlength="255"><br><br>
                <label for="userRole">Роль:</label>
                <select id="userRole" name="role">
                    <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
                </select><br><br>
                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно для редактирования пользователя -->
    <div id="editUserModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('editUserModal')">&times;</span>
            <form id="editUserForm" th:action="@{/admin/editUser}" method="post">
                <h2>Редактировать пользователя</h2>
                <input type="hidden" id="editUserId" name="id">
                <label for="editUserName">Логин:</label>
                <input type="text" id="editUserName" name="username" required maxlength="255"><br><br>
                <label for="editUserPassword">Пароль:</label>
                <input type="password" id="editUserPassword" name="password" maxlength="255"><br><br>
                <label for="editUserRole">Роль:</label>
                <select id="editUserRole" name="role">
                    <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
                </select><br><br>
                <button type="submit">Сохранить</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно для удаления пользователя -->
    <div id="deleteUserModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('deleteUserModal')">&times;</span>
            <form id="deleteUserForm" th:action="@{/admin/deleteUser}" method="post">
                <h2>Удалить пользователя</h2>
                <input type="hidden" id="deleteUserId" name="id">
                <p>Вы уверены, что хотите удалить пользователя?</p>
                <button type="submit">Удалить</button>
            </form>
        </div>
    </div>

    <!-- Модальное окно для удаления роли -->
    <div id="deleteRoleModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('deleteRoleModal')">&times;</span>
            <form id="deleteRoleForm" th:action="@{/admin/deleteRole}" method="post">
                <h2>Удалить роль</h2>
                <input type="hidden" id="deleteRoleId" name="id">
                <p>Вы уверены, что хотите удалить роль?</p>
                <button type="submit">Удалить</button>
            </form>
        </div>
    </div>
</div>
<script src="/static/js/users.js"></script>
</body>
</html>